<div class="page-header">
	<h1>Hello World! <small>Subtext for header</small></h1>
</div>

<span class="glyphicon glyphicon-search"></span> <%= link_to 'My Recipe', controller: 'resipi' %>

<%= will_paginate @menus %>

<% @menus.each do |menu,user| %>

<li>
  <span class="title"><%= menu.title %></span>
  <span class="ingredient"><%= menu.ingredient %></span>
  <span class="description"><%= menu.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(menu.created_at) %> ago
  </span>
  <span class="chef">by <%= link_to menu.user.name, user %></span>
</li>

<% end %>

<%= will_paginate @menus %>
