<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong>By:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @level.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category.description %>
</p>
 
<p>
  <strong>Ingredient:</strong>
  <%= simple_format(@menu.ingredient) %>
</p>
 
<p>
  <strong>Preparation:</strong>
  <%= simple_format(@menu.preparation) %>
</p>
 
<p>
  <strong>Serve for:</strong>
  <%= @menu.serve %>
</p>
 
<p>
  <strong>Cooking Time:</strong>
  <%= @menu.cooking_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
	<strong>Picture:</strong><br />
	<%= image_tag "../uploads/" + @menu.filename, :width => '200px' %>
</p>