<div class="container">

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "../uploads/" + @menu.filename, :width => '328px', class: 'img-rounded' %>
    </div>
    <div class="col-md-8">
        <h2><%= @menu.title %></h2>
        <p class="lead"><%= @menu.description %></p>
        <div class="details">
          <p>Level <span class="label label-primary"><%= @level.description %></span></p>
          <p>Category <span class="label label-primary"><%= @category.description %></span></p>
          <p>Serve for <span class="label label-primary"><%= @menu.serve %> people</span></p>
          <p>Cooking Time <span class="label label-primary"><%= @menu.cooking_time %></span></p>
          <p>By <%= link_to @user.name, user_path %></p>
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Ingredient:</p>
      <%= simple_format(@menu.ingredient) %>
    </div>
    <div class="col-md-6">
      <p class="lead">Preparation:</p>
      <%= simple_format(@menu.preparation) %>
    </div>
  </div>

</div>