<div class="page-header">
  <h1><%= @menu.title %> <small>By: <%= link_to @user.name, user_path %></small></h1>
  <p class="lead"><%= @menu.description %></p>
  <div class="details">
    <h5>Level <span class="label label-primary"><%= @level.description %></span></h5>
    <h5>Category <span class="label label-primary"><%= @category.description %></span></h5>
    <h5>Serve for <span class="label label-primary"><%= @menu.serve %> people</span></h5>
    <h5>Cooking Time <span class="label label-primary"><%= @menu.cooking_time %></span></h5>
  </div>
</div>
 
<p>
  <strong>Ingredient:</strong>
  <%= simple_format(@menu.ingredient) %>
</p>
 
<p>
  <strong>Preparation:</strong>
  <%= simple_format(@menu.preparation) %>
</p>
 

<p>
	<strong>Picture:</strong><br />
	<%= image_tag "../uploads/" + @menu.filename, :width => '200px', class: 'img-rounded' %>
</p>