<% provide(:title, @title) %>

<div class="media">
  <div class="pull-left">
    <%= gravatar_for @user %>
  </div>
  <div class="media-body">
    <h2 class="media-heading">
      <%= link_to @user.name, @user %>
    </h2>
  </div>
</div>

<hr>

<h3><strong>List of <%= @title %></strong></h3>
<br />

<% if @users.any? %>
<div class="row">
    <%= render @users %>
</div>
<%= will_paginate %>
<% end %>

<hr>