<% provide(:title, @user.name) %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="jumbotron">
  <h2 class="text-center"><%= @user.name %></h2>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus condimentum mollis.</p>
	<center><%= gravatar_for @user, size: 170 %></center>
</div>

<div class="row">
  <% if @user.menus.any? %>
      <h3>All my list of recipe (<%= @user.menus.count %>)</h3>
        <%= render @menus %>
      </div>
      <%= will_paginate @menus %>
  <% end %>
</div>