<%= form_for(@menu) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title..." %>
  </div>
  <div class="field">
    <%= f.text_area :ingredient, placeholder: "Ingredient..." %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>