<h1>Listing recipe</h1>
<%= link_to 'New recipe', new_resipi_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
<% @resipi.each do |resipi| %>
  <tr>
    <td><%= resipi.title %></td>
    <td><%= resipi.text %></td>
    <td><%= link_to 'Show', resipi_path(resipi) %></td>
    <td><%= link_to 'Edit', edit_resipi_path(resipi) %></td>
    <td><%= link_to 'Delete', resipi_path(resipi), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>