<p>
  <strong>Title:</strong>
  <%= @resipi.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @resipi.text %>
</p>

<p>
	<strong>Picture:</strong><br />
	<%= image_tag "../uploads/" + @resipi.filename, :width => '200px' %>
</p>

<%= link_to 'Back', resipi_index_path %> | <%= link_to 'Edit', edit_resipi_path(@resipi) %>